<html>
  <head>
    <title>New Message</title>
  </head>
  <body>
    <%- include("partials/header") %>
    <h2>New Message</h2>
    <form action="/new" method="post">
      <input type="text" name="message" placeholder="Message" />
      <input type="text" name="author" placeholder="User" />
      <button type="submit">Submit</button>
    </form>
    <%- include("partials/footer") %>
  </body>
</html>
